@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: sans-serif;
}

body {
    background:#FFEEBB;
    
}
/* .wrapper{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    min-height: 100%;
    max-width: 450px;
    width: 100%;
    background-color:wheat;
    padding:25px;
    border-radius: 10px;
    box-shadow: 4px 4px 2px burlywood;
} */
.wrapper{
    position: absolute;
    left: 35%;
    height:fit-content;
    max-width: 450px;
    width: 100%;
    background-color:#FFDCB8;
    padding:25px;
    border-radius: 10px;
    box-shadow: 4px 4px 2px burlywood;
}

.input-field{
    max-width: 450px;
    width: 100%;
    background-color:white;
    padding:25px;
    border-radius: 10px;
    box-shadow: 4px 4px 2px 1px grey;
    margin-bottom:10px;
}
.first_name, .last_name, .age,
.PermanentAddress, .CurrentAddress, .MobileNumber, .Email, .linkedinLink{
    border: 0;
    outline: 0;
    border-bottom: 1px solid #e0e0e0;
    width: 100%;
}
.wrapper #error_message{
    margin-bottom:20px;
    padding:0px;
    text-align:center;
    background:#fe8b8e;
    font-size: 14px;
    transition: all 0.5s ease;
}